---
title: Richard Sinclair
---

<div class="container">

  <div class="row">
    <div class="navigation">
      <a href="/projects">Projects</a>
      <a href="/about">About</a>
    </div>
    <hr>
  </div>


  <div class="ten columns offset-by-one">
    <div class="project-template">
      <h3>Remote Composer</h3>
      <div class="row">

        <img class="proj-imgs" src="../images/proj-4.jpg" alt="">
        <br>
        <p>
          Remote Composer is an open source music composition platform, for composers and artists who want to collaborate and develop musical ideas together. This app was built in four days as a duo project.
          <br>
          The Problem
          A composer may often come up with a short phrase or 'idea' and not develop it. They may throw it away or forget about it due to lack of interest, inspiration or time. Maybe they won't even record the 'idea'. The potential of that 'idea', is then no more.
          <br>
          The Solution
          To solve this problem we decided to create a platform for composers to upload their unfinished ideas, with the intention of other composers being able to contribute to that 'idea' and result in a collaborative composition.
          <br>
          Tech used:
          Ruby on Rails
          PostgreSQL
          AngularJS
          HTML
          SCSS/SASS
          Bootstrap
          FileStack
        </p>
        <br>
        <a class="proj-view-button" href="https://github.com/jgburton/wdi_project_4_api">View the code on GitHub</a>
        <a class="proj-view-button" href="https://remotecomposer.herokuapp.com/">Try the app</a>
        <a class="proj-view-button" href="/projects">back to projects</a>

      </div>
    </div>
  </div>
</div>
