---
title: Richard Sinclair
---

<div class="container">

  <div class="row">
    <div class="navigation">
      <a href="/projects">Projects</a>
      <a href="/about">About</a>
    </div>
    <hr>
  </div>


  <div class="ten columns offset-by-one">
    <div class="project-template">
      <h3>Buzzcock</h3>
      <div class="row">

          <img class="proj-imgs" src="../images/proj-1.png" alt="">
          <br>

          <p>
            After two weeks of learning Javascript, I created a simple hangman game themed on music lyrics, the missing words would be picked at random so it would always be different. I learnt a lot about Javascript and CSS with this project.
            <br>
            The Process
            <br>
            I found Javascript quite challenging, having only learnt it for two weeks, I found writing the logic quite challenging, having said that I learnt a lot about Javascript. I also learnt to do pseudo code in order to help planing the project before jumping into it.
            <br>
            My favorite part was styling the project. I used a giff from giphy and I just kep a nice white border arround it in order to keep it neat and tidy.
            <br>
            The audio is plain old elevator music which is just a simple touch to make the app pleasent and fun to play on.
            <br>
            Tech used:
            HTML 5,
            CSS3,
            Javascript / jQuery.
          </p>
          <a class="proj-view-button" href="https://github.com/richardssinclair/WDI_Project_1">View the code on GitHub</a>
          <a class="proj-view-button" href="https://radiant-hamlet-24937.herokuapp.com/">Play the game</a>
          <a class="proj-view-button" href="/projects">back to projects</a>
      </div>

    </div>

  </div>

</div>
