@import "normalize.css";
@import "skeleton.css";
@import "font-awesome.css";

.home-page {
  padding: 0 100px 0 100px;
  .home {
    color: white;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: 45%;
    min-height: 700px;
  }
}


.proj-imgs {
  max-width: 450px;

}
