<div class="social">
  <hr>
  <a href="https://github.com/richardssinclair/"><i class="fab fa-github" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/richardssinclair/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/richardssinclair/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://twitter.com/richssinclair"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  <a href="mailto:richardssinclair@gmail.com"><i class="far fa-envelope" aria-hidden="true"></i></a>
  <a href="/cv.pdf"><i class="fas fa-file-pdf" aria-hidden="true"></i></a>
</div>
