---
title: Richard Sinclair
---
<div class="container">

  <div class="row">
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
    </div>
  </div>

  <hr>
  <h3>About</h3>
  <div class="row">
    <div class="about">



      <div class="eight columns">

        <p>
          I have a background in fine arts, primarily sculpting and photography. Over a year ago I attended a creative coding meet up and was inspired by what I saw - immersive animations, games and portfolios all done in Javascript. I was amazed by what people had done in the digital world where the limit is down to your imagination. I became really interested in front end development and completed the Web Development course at General Assembly.
          Since then I have done internships at Goodgym and Iron SLS giving me experience at delivering production code. I primarily worked on templating and styling new pages using HTML, SASS and JavaScript . I am now looking for a creative place to establish myself as a front end developer.

          Growing up in a creative environment I developed skills in paint, sculpting, photography and film I became really passionate about the arts. A few months ago I was inspired by a creative coding meet up where I saw amazing animations, games and portfolios all done in Javascript. This inspired me to become a Developer. I was amazed by what people had done in the digital world where the limit is down to your imagination. I joined the Web Developer Immersive Course at General Assembly where I learnt new skills in web developing and am now looking for a new role where I can develop these skills further.
        </p>
        <div class="social">
          <hr>
          <a href="https://github.com/richardssinclair/"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/richardssinclair/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/richardssinclair/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://twitter.com/richssinclair"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="mailto:richardssinclair@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </div>

      </div>


      <div class="four columns">
        <img class="about-img" src="../images/about.jpg" alt="">
      </div>
    </div>

  </div>
</div>
