---
title: Richard Sinclair
---

<div class="container">

  <div class="row">
    <div class="navigation">
      <a href="/projects">Projects</a>
      <a href="/about">About</a>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="container">


      <div class="six columns offset-by-three">

        <div class="home-page">
          <div class="home">
            <h1>Richard <br> Sinclair</h1>
            <h4>Junior Front End Web Developer</h4>
            <h4>London</h4>
            <div class="social">
              <hr>
              <a href="https://github.com/richardssinclair/"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/richardssinclair/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/richardssinclair/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://twitter.com/richssinclair"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="mailto:richardssinclair@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
