---
title: Richard Sinclair
---

<h1>Richard Sinclair</h1>
<h2>Junior Front End Web Developer</h2>
<h3>London</h3>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
