---
title: Richard Sinclair
---

<div class="container">


    <div class="row">
      <div class="navigation">
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
      </div>
    </div>

  <div class="row">
    <hr>
    <div class="home-page">
      <div class="home">
        <h1>Richard Sinclair</h1>
        <h2>Junior Front End Web Developer</h2>
        <h3>London</h3>
        <div class="social">
          <hr>
          <i class="fa fa-github" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> -->
