---
title: Richard Sinclair
---

<div class="container photography">
  <p>
Working with digital and very old film cameras, I have walked around London taking multiple exposures of the Architecture. Although the Buildings in London dominate the skyline and overcast thier shadows over the citizens of the city I like to use my camera to try and manipulate the image using long, double and triple exposures to show people my vision of this strange city. None of these photos are manipulated with photoshop. all the work is done with the camera.</p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid animated fadeInLeft" src="https://carbonmade-media.accelerator.net/31674453;960x640.webp" alt="">

      <img class="img-fluid animated fadeInLeft" src="https://carbonmade-media.accelerator.net/31411798;960x636.webp" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-fluid animated fadeIn" src="https://carbonmade-media.accelerator.net/31411787;640x960.webp" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-fluid animated fadeInRight" src="https://carbonmade-media.accelerator.net/31411788;960x640.webp" alt="">

      <img class="img-fluid animated fadeInRight" src="https://carbonmade-media.accelerator.net/29656818;960x642.webp" alt="">
    </div>
  </div>

  <%= partial 'partials/social' %>

</div>
